<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listify</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.8.3/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.6"
        integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
        crossorigin="anonymous"></script>

</head>

<body class="  flex items-center w-3xl flex-col gap-2">


    <div class="hero min-h-screen bg-base-200">
        <div class="hero-content text-center">
            <div class="max-w-md flex gap-4">
                <form hx-post="api/user" method="post" class="flex flex-col gap-2" hx-post="true" hx-trigger="submit"
                    hx-swap="innerHTML">
                    <div class="card">
                        <div class="card-body">
                            <h1>sign-up</h1>
                            <input class="input input-bordered" type="text" placeholder="Username" name="username">
                            <input class="input input-bordered" type="password" placeholder="Password" name="password">
                            <input type="submit" class="btn btn-primary" value="Sign In">
                        </div>
                    </div>
                </form>
                <form hx-post="api/login" class="flex flex-col gap-2" method="post" hx-post="true" hx-trigger="submit">
                    <div class="card">
                        <div class="card-body">
                            <h1>Login</h1>
                            <input class="input input-bordered" type="text" placeholder="Username" name="username">
                            <input class="input input-bordered" type="password" placeholder="Password" name="password">
                            <input type="submit" class="btn btn-primary" value="Sign In">
                        </div>
                    </div>
                </form>
                <div class="card">
                    <div class="card-body">
                        <h1>Logout</h1>
                        <form data-hx-get="api/logout" hx-trigger="submit">
                            <input type="submit" class="btn btn-primary" value="Sign Out">
                        </form>
                    </div>
                </div>
            </div>
        </div>

</body>

</html>