<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listify</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.8.3/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body class="  flex items-center w-3xl flex-col gap-2">
    <div class="navbar bg-primary flex gap-2">
        <a href="/ingredients" class="bg-slate-200 rounded-sm p-1">Ingredients</a>
        <a href="/recipes" class="bg-slate-200 rounded-sm p-1">Recipes</a>
        <a href="/create-recipe" class="bg-slate-200 rounded-sm p-1">Create Recipe</a>
        <a href="/list" class="bg-slate-200 rounded-sm p-1">Make a List</a>
    </div>
    <h1 class="text-4xl font-bold">{{.PageTitle}}</h1>
    <form action="api/recipes" method="post" class="flex flex-col gap-4" enctype="multipart/form-data">
        <div class="flex gap-4">
            <div class="w-full flex items-center justify-center">

                <div class="flex flex-col gap-2">

                    <div class="flex gap-8">
                        <div class="flex flex-col gap-4">
                            <div class="join">
                                <input type="text" id="recipeName" name="recipeName" placeholder="recipe name"
                                    class="join-item input input-primary" required />
                                <select class="select select-primary join-item" id="ingredient-picker">
                                    <option disabled selected>Choose ingredients</option>
                                    {{range .Ingredients}}
                                    <option value="{{.Ingredient_id}}">
                                        {{.Name}}
                                    </option>
                                    {{end}}
                                </select>
                                <label for="photo" class="btn btn-primary join-item">Select Image</label>


                            </div>
                            <input type="file" required name="photo" id='photo' accept="image/* " class="hidden">
                            <textarea type="text" id="recipeDescription" rows="10" name="recipeDescription"
                                placeholder="description" class="textarea textarea-primary "></textarea>
                        </div>
                        <div class="w-64 h-64 p-2 hidden border-primary border-2 rounded-lg flex items-center justify-center"
                            id="image-container">
                            <img id="blah" src="#" alt="your image" />
                        </div>
                        <button type="submit" class="join-item btn btn-success">save</button>
                    </div>
                </div>
            </div>

        </div>
        <div class="flex flex gap-4">
            {{range $ingredientName, $ingredientTypes := .MappedIngredients}}
            <div>

                <h2 class="text-xl font-bold">{{$ingredientName}}</h2>
                <ul class="flex-col flex gap-2">
                    {{range $ingredientTypes}}
                    <li class="flex items-center gap-2">
                        <input id="{{.Ingredient_id}}" name="ingredients" type="checkbox" value="{{.Ingredient_id}}"
                            class="checkbox checkbox-primary checkbox-sm" />
                        <label for="{{.Ingredient_id}}" class="text-xs">{{.Name}}</label>
                    </li>
                    {{end}}
                </ul>
            </div>
            {{end}}

        </div>
    </form>
    <div>
</body>
<script defer>
    var imgInp = document.getElementById("photo")
    var imgCtr = document.getElementById("image-container")
    var ingPkr = document.getElementById("ingredient-picker")

    imgInp.onchange = evt => {
        const [file] = imgInp.files
        if (file) {
            blah.src = URL.createObjectURL(file)
            imgCtr.classList.remove('hidden')
        }
    }
    ingPkr.onchange = evt => {
        var selectedId = evt.target.value
        var ingInp = document.getElementById(`${selectedId}`)

        if (ingInp) {
            if (ingInp.checked) {
                ingInp.checked = false
            } else {
                ingInp.checked = true
            }
        }
    }
</script>

</html>