<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listify</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.8.3/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body class="  flex items-center w-3xl flex-col gap-2">
    <div class="navbar bg-primary flex gap-2">
        <a href="/ingredients" class="bg-slate-200 rounded-sm p-1">Ingredients</a>
        <a href="/recipes" class="bg-slate-200 rounded-sm p-1">Recipes</a>
        <a href="/create-recipe" class="bg-slate-200 rounded-sm p-1">Create Recipe</a>
        <a href="/list" class="bg-slate-200 rounded-sm p-1">Make a List</a>
    </div>
    <form action="api/recipes" method="post" class="flex flex-col gap-4" enctype="multipart/form-data">
        <div class="flex gap-4">
            <div class="flex flex-col gap-2">

                <div class="flex gap-2 items-center">

                    <h1>{{.PageTitle}}</h1>
                    <button type="submit" class="join-item btn btn-success">save</button>
                </div>
                <input type="text" id="recipeName" name="recipeName" placeholder="recipe name"
                    class="join-item input input-primary" required />
                <textarea type="text" id="recipeDescription" name="recipeDescription" placeholder="description"
                    class="tetarea textarea-primary"></textarea>
            </div>

            <input type="file" name="photo" accept="image/*">
        </div>
        <div class="flex flex gap-16">
            {{range $ingredientName, $ingredientTypes := .MappedIngredients}}
            <div>

                <h2 class="text-xl font-bold">{{$ingredientName}}</h2>
                <ul class="flex-col flex gap-2">
                    {{range $ingredientTypes}}
                    <li>
                        <input id="{{.Ingredient_id}}" name="ingredients" type="checkbox" value="{{.Ingredient_id}}" />
                        <label for="{{.Ingredient_id}}">{{.Name}}</label>
                    </li>
                    {{end}}
                </ul>
            </div>
            {{end}}

        </div>
    </form>
    <div>
</body>

</html>