<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.8.3/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body class="  flex items-center w-3xl flex-col gap-2">
    <div class="navbar bg-primary flex gap-2">
        <a href="/" class="bg-slate-200 rounded-sm p-1">Ingredients</a>
        <a href="/recipes" class="bg-slate-200 rounded-sm p-1">Recipes</a>
        <a href="/create-recipe" class="bg-slate-200 rounded-sm p-1">Create Recipe</a>
        <a href="/list" class="bg-slate-200 rounded-sm p-1">Make a List</a>
    </div>
    <h1>{{.PageTitle}}</h1>
    <form action="/add-ingredient" method="post">
        <div class=" join">
            <input type="text" id="ingredient" name="ingredient" placeholder="Add Ingredient" required
                class="input input-primary join-item" />
            <select id="ingredient_type select select-primary" name="ingredient_type" required
                class="join-item select select-primary">
                {{range .IngredientTypes}}
                <option value="{{.Ingredient_type_id}}" class="option option-primary" label="{{.Name}}"></option>
                {{end}}
            </select>
            <button type="submit" class="btn join-item btn-primary">+</button>
        </div>
    </form>

    <div>
        <ul class="flex-col flex gap-2">
            {{range .Ingredients}}
            <li class="flex gap-1">
                <form action="/delete-ingredient" method="post">
                    <input id="id" name="id" value="{{.Ingredient_id}}" hidden></input>
                    <button type="submit" class="btn btn-secondary  p-1 rounded-lg">delete</button>
                </form>
                <form action="/update-ingredient" method="put">
                    <input name="ingredientName" value="{{.Name}}" class="input input-primary" />

                    <input id="id" name="id" value="{{.Ingredient_id}}" hidden></input>
                    <button type="submit" class="btn btn-primary">SAVE</button>
                </form>
            </li>
            {{end}}
        </ul>
    </div>
</body>

</html>