<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listify</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.8.3/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.6"
        integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
        crossorigin="anonymous"></script>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

</head>

<body class="  flex   flex-col gap-2">
    <div class="navbar flex justify-between gap-2 w-full  px-12">


        <label class="swap swap-rotate">

            <!-- this hidden checkbox controls the state -->
            <input type="checkbox" id="themeToggle" />

            <!-- sun icon -->
            <svg class="swap-on fill-current w-10 h-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                    d="M5.64,17l-.71.71a1,1,0,0,0,0,1.41,1,1,0,0,0,1.41,0l.71-.71A1,1,0,0,0,5.64,17ZM5,12a1,1,0,0,0-1-1H3a1,1,0,0,0,0,2H4A1,1,0,0,0,5,12Zm7-7a1,1,0,0,0,1-1V3a1,1,0,0,0-2,0V4A1,1,0,0,0,12,5ZM5.64,7.05a1,1,0,0,0,.7.29,1,1,0,0,0,.71-.29,1,1,0,0,0,0-1.41l-.71-.71A1,1,0,0,0,4.93,6.34Zm12,.29a1,1,0,0,0,.7-.29l.71-.71a1,1,0,1,0-1.41-1.41L17,5.64a1,1,0,0,0,0,1.41A1,1,0,0,0,17.66,7.34ZM21,11H20a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Zm-9,8a1,1,0,0,0-1,1v1a1,1,0,0,0,2,0V20A1,1,0,0,0,12,19ZM18.36,17A1,1,0,0,0,17,18.36l.71.71a1,1,0,0,0,1.41,0,1,1,0,0,0,0-1.41ZM12,6.5A5.5,5.5,0,1,0,17.5,12,5.51,5.51,0,0,0,12,6.5Zm0,9A3.5,3.5,0,1,1,15.5,12,3.5,3.5,0,0,1,12,15.5Z" />
            </svg>

            <!-- moon icon -->
            <svg class="swap-off fill-current w-10 h-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                    d="M21.64,13a1,1,0,0,0-1.05-.14,8.05,8.05,0,0,1-3.37.73A8.15,8.15,0,0,1,9.08,5.49a8.59,8.59,0,0,1,.25-2A1,1,0,0,0,8,2.36,10.14,10.14,0,1,0,22,14.05,1,1,0,0,0,21.64,13Zm-9.5,6.69A8.14,8.14,0,0,1,7.08,5.22v.27A10.15,10.15,0,0,0,17.22,15.63a9.79,9.79,0,0,0,2.1-.22A8.11,8.11,0,0,1,12.14,19.73Z" />
            </svg>

        </label>


        <div class="flex gap-2">

            <a href="/create-recipe" class=" btn btn-sm btn-success btn-outline text-red-500 rounded-lg">Create
                Recipe</a>
            <div class="flex gap-2">
                {{if .User.ID}}

                <a class="btn btn-sm rounded-lg" href='/profile'>Profile</a>
                {{else}}
                <a class="btn btn-sm rounded-lg" href='/sign-in'>Sign in</a>
                {{end}}
            </div>
        </div>
    </div>
    <div class="drawer">
        <input id="my-drawer" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content">
            <!-- Page content here -->
            <div class="flex w-full px-12 gap-2">
                <div class="flex flex-col gap-4  items-center w-full">
                    <div class="flex flex-col items-center gap-4">
                        <div class=" flex gap-8 items-center">
                            <label for="my-drawer"
                                class="btn btn-primary drawer-button btn-outline btn-sm flex items-center "><span>

                                    View
                                    List
                                </span>
                                <div>

                                    <span class="material-symbols-outlined  border-primary">
                                        list
                                    </span>
                                </div>
                            </label>
                            <input class="input input-bordered input-sm " type="text" id="searchbar"
                                placeholder="Search by Name / Ingredient" />
                            <button class="btn btn-sm  btn-outline" id="clear">Clear Filters</button>
                        </div>
                        <div class="flex  flex-wrap  items-center">
                            {{range .Tags}}
                            <button href="javascript:void(0);"
                                class="btn btn-sm tag btn-ghost no-animation text-xs">{{.Name}}</button>
                            {{end}}
                        </div>
                    </div>
                    <form data-hx-get="/update-ingredients" data-hx-target="#ingredientList" data-hx-swap="innerHTML"
                        hx-trigger="load delay:100ms, change " class="flex flex-col  items-center w-full" method="post">


                        <div class="flex gap-4 flex-wrap px-12">
                            {{range .Recipes}}

                            <div class="card lg:card-side bg-base-300 shadow-sm" data-tags="{{.TagString}}">
                                {{if .Photos}}
                                {{range $i, $v := .Photos}}
                                {{if eq $i 0}}
                                <div class="w-32">

                                    <img src="{{$v}}" alt="photo " class="rounded-lg" />
                                </div>
                                {{end}}
                                {{end}}
                                {{else}}
                                <div>No photos</div>
                                {{end}}
                                <div class=" px-4 py-2">

                                    <a href="/recipes/{{.Recipe_id}}">
                                        <p class="card-title text-sm">
                                            {{.Name}}
                                        </p>
                                    </a>
                                    <div class="flex items-center gap-2  ">
                                        <label for="{{.Recipe_id}}" class="checkbox-label text-xs">Add to
                                            list</label>
                                        <input id="{{.Recipe_id}}" name="recipes" type="checkbox"
                                            class="checkbox checkbox-xs" value="{{.Recipe_id}}" />
                                        <input type="number" id="{{.Recipe_id}}_quantity" name="{{.Recipe_id}}_quantity"
                                            min="1" max="20" value="1" hidden
                                            class="input input-bordered input-xs w-16 recipeQuantity" />
                                    </div>
                                    <div class="flex justify-between">
                                        <ul>
                                            {{range .Tags}}
                                            <li class="recipe_tag text-xs">{{.Name}}</li>
                                            {{end}}
                                        </ul>
                                    </div>
                                    <div class="collapse collapse-arrow">
                                        <input type="checkbox" />
                                        <div class="collapse-title text-sm  font-medium">
                                        </div>
                                        <div class="collapse-content">
                                            <ul>
                                                {{range .Ingredients}}
                                                <li class="ingredient">{{.Name}}</li>
                                                {{end}}
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            {{end}}
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="drawer-side">
            <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
            <ul class="menu p-4 w-80 min-h-full bg-base-200 text-base-content">
                <div class="flex flex-col   max-h-full" data-hx-target="sideContainer" id="sideContainer">

                    <form hx-post="api/list" method="post" class="w-50" id="sendForm" hx-post="true"
                        data-hx-target="#sideContainer" data-hx-swap="innerHTML" hx-trigger="submit">
                        <div class="flex flex-col w-full h-full">
                            <div class="flex gap-4 items-end">
                                <div class="flex flex-col gap-1">
                                    <input type="phone" placeholder="8654447272" name="phone" id="phone"
                                        class=" input input-bordered w-32 input-sm " value="{{.User.PhoneNumber}}" />
                                </div>
                                <button type="submit " class="btn btn-sm btn-primary" id="sendButton">send </button>

                            </div>
                            <span class="loading loading-dots loading-lg htmx-indicator"></span>
                            <div id="ingredientList" data-hx-target="ingredientList">
                                <textarea name="list" id="ingredientList" data-hx-target="ingredientList"
                                    class="block w-full rounded-lg p-3 textarea resize-none textarea-bordered"
                                    rows="20">
                        </textarea>
                            </div>
                        </div>
                    </form>
                </div>

            </ul>
        </div>
    </div>
</body>

<script>
    htmx.logger = function (elt, event, data) {
        if (console) {
            console.log(event, elt, data);
        }
    }
    document.addEventListener('DOMContentLoaded', function () {
        const themeToggle = document.getElementById('themeToggle');
        const html = document.documentElement;

        // Check the user's local storage for the current theme (light or dark)
        const currentTheme = localStorage.getItem('theme') || 'dark';

        // Set the theme based on the user's preference
        if (currentTheme === 'dark') {
            html.setAttribute('data-theme', 'dark');
        } else {
            html.setAttribute('data-theme', 'light');
        }
        const phoneNumberInput = document.getElementById('phone');
        const sendButton = document.getElementById('sendButton');
        const searchInput = document.getElementById('searchbar');
        const recipeCards = document.querySelectorAll('.card');
        const clearButton = document.getElementById('clear');
        const tags = document.querySelectorAll('.tag'); // Select all tag elements
        const recipeQuantites = document.querySelectorAll('.recipeQuantity')
        const recipeCheckboxes = document.querySelectorAll('input[type=checkbox]')

        phoneNumberInput.addEventListener('input', validatePhoneNumber);
        function validatePhoneNumber() {
            // Get the input element by its id
            var phoneNumber = phoneNumberInput.value;

            // Define a regular expression for the phone number pattern
            var phonePattern = /^\d{10}$/;

            if (phonePattern.test(phoneNumber)) {
                phoneNumberInput.classList.remove('border-red-500');
                sendButton.disabled = false;

            } else {
                phoneNumberInput.classList.add('border-red-500');
                sendButton.disabled = true;
            }
        }
        // Add an event listener to toggle the theme when the button is clicked
        themeToggle.addEventListener('click', function () {
            if (html.getAttribute('data-theme') === 'dark') {
                html.setAttribute('data-theme', 'light');
                localStorage.setItem('theme', 'light'); // Store user's preference
            } else {
                html.setAttribute('data-theme', 'dark');
                localStorage.setItem('theme', 'dark'); // Store user's preference
            }
        });
        recipeCheckboxes.forEach(recipe => {
            recipe.addEventListener('change', function () {
                const list = JSON.parse(localStorage.getItem('list')) || []
                if (this.checked) {
                    if (!list.some(el => el.id === recipe.id)) {
                        list.push({ id: recipe.id, quantity: recipe.parentElement.querySelector('input[type=number]').value })
                    }
                    else {
                        list.forEach(item => {
                            if (item.id === recipe.id) {
                                item.quantity = recipe.parentElement.querySelector('input[type=number]').value
                            }
                        })
                    }
                } else {
                    list.forEach((item, index) => {
                        if (item.id === recipe.id) {
                            list.splice(index, 1)
                        }
                    })
                }
                localStorage.setItem('list', JSON.stringify(list))
            })
        })
        recipeQuantites.forEach(quantity => {
            quantity.addEventListener('change', function () {
                const list = JSON.parse(localStorage.getItem('list')) || []
                if (list.some(el => el.id === quantity.id.split('_')[0])) {
                    list.forEach(item => {
                        if (item.id === quantity.id.split('_')[0]) {
                            item.quantity = quantity.value
                        }
                    })
                }
                localStorage.setItem('list', JSON.stringify(list))
            })
        })
        const list = JSON.parse(localStorage.getItem('list')) || []
        recipeCheckboxes.forEach(checkbox => {
            matchingItem = list.find(el => el.id === checkbox.id)
            if (matchingItem) {
                checkbox.checked = true
                checkbox.parentElement.querySelector('input[type=number]').value = matchingItem.quantity
            }
        })


        tags.forEach(tag => {
            tag.addEventListener('click', () => {
                // Remove the 'selected' class from all tags
                tags.forEach((t) => {
                    t.classList.remove('btn-outline')
                }
                );
                // Add the 'selected' class to the clicked tag
                tag.classList.add('btn-outline');
                // Hide all cards
                recipeCards.forEach(card => card.style.display = 'none');

                // Show cards with the corresponding tag
                const selectedTag = tag.textContent.trim().toLowerCase(); // Get the text content of the clicked tag, convert to lowercase, and remove whitespace
                recipeCards.forEach(card => {
                    const cardTags = card.getAttribute('data-tags').split(',').map(tag => tag.trim().toLowerCase()); // Convert tags to lowercase and remove whitespace

                    if (cardTags.includes(selectedTag)) {
                        card.style.display = 'block';
                    }
                    card.querySelectorAll('.recipe_tag').forEach(cardTag => {
                        if (cardTags.includes(selectedTag) && cardTag.textContent.trim().toLowerCase() === selectedTag) {
                            cardTag.classList.add('bg-yellow-200'); // Apply the highlighting
                        } else {
                            cardTag.classList.remove('bg-yellow-200'); // Remove highlighting if not a match
                        }
                    });
                });
            });
        });

        // Add an event listener to the search input field
        searchInput.addEventListener('input', () => {
            const searchQuery = searchInput.value.toLowerCase();
            recipeCards.forEach((card) => {
                const recipeNameElement = card.querySelector('.card-title');
                const recipeNameLowerCase = recipeNameElement.textContent.toLowerCase();
                const recipeName = recipeNameElement.textContent;

                const recipeIngredients = card.querySelectorAll('.ingredient');

                const recipeIncludesSearchedIngredient = Array.from(recipeIngredients).some((ingredient) => {
                    return ingredient.textContent.toLowerCase().includes(searchQuery);
                });


                if (searchQuery === "") {
                    // If there is no search query, reset the highlighting
                    recipeNameElement.innerHTML = recipeName;
                    card.querySelectorAll('.collapse').forEach(e => {
                        e.classList.remove('collapse-open')
                        e.classList.add('collapse')

                    })
                    recipeIngredients.forEach(elem => {
                        const ingredientName = elem.textContent

                        elem.innerHTML = ingredientName

                        const collapseElem = elem.parentElement.parentElement.parentElement
                        collapseElem?.classList?.remove('collapse-open')

                    })
                    card.style.display = 'block'; // Show the card
                } else if (recipeNameLowerCase.includes(searchQuery) || recipeIncludesSearchedIngredient) {
                    // Create a RegExp pattern for the search query, globally and as case-insensitive
                    const pattern = new RegExp(searchQuery, 'gi');
                    // Highlight matching text by wrapping it with a <span> element
                    const highlightedText = recipeName.replace(pattern, (match) => {
                        return `<span class="bg-yellow-200">${match}</span>`;
                    });

                    // Update the recipe card's content with the highlighted text
                    recipeNameElement.innerHTML = highlightedText;

                    recipeIngredients.forEach(elem => {
                        const ingredientName = elem.textContent
                        const highlightedTxt = ingredientName.replace(pattern, (match) => {
                            return `<span class="bg-yellow-200">${match}</span>`;
                        });
                        elem.innerHTML = highlightedTxt

                        const collapseElem = elem.parentElement.parentElement.parentElement
                        collapseElem?.classList?.add('collapse-open')

                    })


                    card.style.display = 'block'; // Show the card
                } else {
                    card.style.display = 'none'; // Hide the card
                    card.querySelectorAll('.collapse').forEach(e => e.classList.remove('collapse-open'))
                }
            });
        });

        clearButton.addEventListener('click', () => {
            searchbar.value = ''; // Clear the search bar input
            tags.forEach(tag => {
                tag.classList.remove('btn-outline')
            }); // Deselect all tags

            recipeCards.forEach(card => {

                const recipeNameElement = card.querySelector('.card-title');
                recipeNameElement.innerHTML = recipeNameElement.textContent; // Reset to the original content

                card.querySelectorAll('.recipe_tag').forEach(cardTag => {
                    cardTag.classList.remove('bg-yellow-200'); // Remove the highlighting class
                });

                const cardIngredients = card.querySelectorAll('.ingredient');
                cardIngredients.forEach(elem => {
                    const ingredientName = elem.textContent
                    elem.innerHTML = ingredientName
                    const collapseElem = elem.parentElement.parentElement.parentElement
                    collapseElem?.classList?.remove('collapse-open')

                })
                card.style.display = 'block'; // Show the card
            });
        });

        //if the matching checkbo is checked, it will show the number component, otherwise it will hide it
        recipeQuantites.forEach(quantity => {
            recipeCheckboxes.forEach(checkbox => {
                if (checkbox.value === quantity.id.split('_')[0]) {
                    if (checkbox.checked) {
                        quantity.hidden = false
                    } else {
                        quantity.hidden = true
                    }
                }
            })
        })
        //if the checkbox is checked, it will show the number component, otherwise it will hide it
        recipeCheckboxes.forEach(checkbox => {
            checkbox.addEventListener('change', function () {
                const quantityInput = document.getElementById(`${this.value}_quantity`)
                if (this.checked) {
                    quantityInput.hidden = false
                } else {
                    quantityInput.hidden = true
                }
            })
        })
    });


</script>

</html>