<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listify</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.8.3/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body class="  flex items-center w-3xl flex-col gap-2">
    <div class="navbar bg-primary flex gap-2">
        <a href="/ingredients" class="bg-slate-200 rounded-sm p-1">Ingredients</a>

        <a href="/recipes" class="bg-slate-200 rounded-sm p-1">Recipes</a>
        <a href="/create-recipe" class="bg-slate-200 rounded-sm p-1">Create Recipe</a>
        <a href="/list" class="bg-slate-200 rounded-sm p-1">Make a List</a>
    </div>
    <h1>{{.PageTitle}}</h1>
    <div class="flex gap-4 flex-wrap">
        {{range .Recipes}}
        <div class="card w-96 bg-base-100 shadow-xl">
            {{if .Photos}}
            {{range $i, $v := .Photos}}
            {{if eq $i 0}}
            <figure>
                <img src="{{$v}}" alt="photo" />
            </figure>
            {{end}}
            {{end}}
            {{else}}
            <div>No photos</div>
            {{end}}
            <div class="card-body">

                <h2 class="card-title">
                    {{.Name}}
                </h2>
                <p>{{.Description}}</p>
                <div class="card-actions justify-end">
                    <a href="/recipes/{{.Recipe_id}}">
                        <button class="btn btn-primary">View</button>
                    </a>
                </div>
            </div>
        </div>
        {{end}}
    </div>
    <div>
</body>

</html>