<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.8.3/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body class=" max-w-3xl flex items-center w-3xl flex-col gap-4">
    <div class="navbar bg-base-100">
        <div class="navbar-start">
          
              <a href="/" class="bg-slate-200 rounded-lg p-2">ingredients</a>
            
             <a href="/recipes" class="bg-slate-200 rounded-lg p-2">recipes</a> 
        </div>
      </div>
    <h1>{{.PageTitle}}</h1>
    <form action="/add-recipe" method="post" class="flex flex-col gap-4">
        <div class="join">
        <input type="text" id="recipeName" name="recipeName" placeholder="recipe name" class="join-item input input-primary" required/>
        <button type="submit" class="join-item btn btn-primary">+</button>
    </div>
    <textarea type="text" id="recipeDescription" name="recipeDescription" placeholder="description" class="tetarea textarea-primary"></textarea> 
     <ul class="flex-col flex gap-2">
        {{range .Ingredients}}
        <li>
            <input id="{{.Ingredient_id}}" name="ingredients" type="checkbox" value="{{.Ingredient_id}}"/>
            <label for="{{.Ingredient_id}}">{{.Name}}</label>
        </li>
        {{end}}
        </ul>
    </form>    <div>
<h2>Recipes</h2>
        <ul class="flex-col flex gap-2">
            {{range .Recipes}}
            <li >
                <!-- <form  action="/delete-recipe" method="post" class="flex items-center gap-2">
                    <label for="recipe">{{.Name}}</label>
                    <input id="id" name="id" value="{{.Recipe_id}}" hidden></input>
                    <textarea disabled placeholder="{{.Description}}"></textarea>
                    <button type="submit" class="btn btn-secondary  p-1 rounded-lg">delete</button>
                </form> -->
                <a href="/recipes/{{.Recipe_id}}">{{.Name}}</a>
            </li>
            {{end}}
        </ul>
    </div>
    <div>
    </body>
    </html>