<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listify</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.8.3/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>

</head>


<body class="  flex items-center w-3xl flex-col gap-2">

    <div class="navbar bg-primary flex gap-2">
        <a href="/ingredients" class="bg-slate-200 rounded-sm p-1">Ingredients</a>
        <a href="/recipes" class="bg-slate-200 rounded-sm p-1">Recipes</a>
        <a href="/create-recipe" class="bg-slate-200 rounded-sm p-1">Create Recipe</a>
        <a href="/list" class="bg-slate-200 rounded-sm p-1">Make a List</a>
    </div>
    </div>
    <h1 class="text-4xl font-bold">{{.PageTitle}}</h1>
    <!-- <form action="/api/recipes/delete" method="post" class="flex items-center gap-2">
        <input id="id" name="id" value="{{.Recipe.Recipe_id}}" hidden></input>
    <button type="submit" class="btn btn-secondary  p-1 rounded-lg">delete</button>
</form> -->
    <div class="flex justify-between">
        <div class="carousel w-full">

            {{if .Recipe.Photos}}
            {{range $i, $a := .Recipe.Photos}}
            <div id="item{{ $i }}" class="carousel-item w-full">
                <img src="{{$a}}" alt="photo" />
            </div>
            {{end}}
            {{else}}
            <li>No photos</li>
            {{end}}
            </ul>
        </div>
        <div class="flex justify-center w-full py-2 gap-2">
            {{range $i, $a := .Recipe.Photos}}

            <a href="#item{{$i}}" class="btn btn-xs">{{$i}}</a>
            {{end}}

        </div>

        <h2>Description</h2>
        <form action="/recipes/add-photo" method="post" enctype="multipart/form-data">
            <input id="id" name="id" value="{{.Recipe.Recipe_id}}" hidden></input>
            <input type="file" name="photo" accept="image/*">
            <button type="submit">Upload Photo</button>
        </form>

        <p class="text-sm">{{.Recipe.Description}}</p>
        <h2>Ingredients</h2>
        <ul class="flex-col flex gap-2">
            {{if .Recipe.Ingredients}}
            {{range .Recipe.Ingredients}}
            <li>
                {{.Name}}
            </li>
            {{end}}
            {{else}}
            <li>No ingredients</li>
            {{end}}
        </ul>
        <div>
        </div>
</body>

</html>